<h1>相談一覧</h1>
<% @counselings.each do |counseling| %>
　　<p>タイトル</p>
   <span><%=link_to counseling.title ,counseling_path(counseling.id) %></span>
<% end %><br>
<%= paginate @counselings %>
 <%= link_to '戻る', user_path(current_user.id)%>