<html>
  <head>
    <title>about_pages</title>
  </head>
  <body>
  	<div class="main-container"></div>
  	  <div class="row">
	      <div class="col-lg-3">
	      </div>
	      <div class="col-lg-6">
        	<!-- <h2>Symbiosis from competitionへようこそ</h2> -->
        	<div>は、営業に関する知識の共有や相談ができるサービスです</div>

	   		</div>
	   		<div class="col-lg-3">
	   		</div>
		</div>
  </body>
</html>