
<html>
  <head>
    <title>about_pages</title>
  </head>
  <body>
    <div class="main-container"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3"> 
        </div>
        <div class="col-lg-6">
              <!-- <h2>Symbiosis from competitionへようこそ</h2> -->
         
          <div align="center">
                <div class="lead">いつでもどこでも</div>
                <div class="lead">あなたの共有に</div>
                <div class="lead">あなたの解決に価値を</div>
          
            <div>会社の上司や同僚に今更聞けない、聞きづらいなんてことありませんでしたか？</div>
            <div>営業活動をしていく中での学びを共有したいと思ったことはありませんでしたか？</div>
            <div>相談に乗って解決したことが世の中に評価されたいと思ったことはありませんか？</div><br>
            
         
            <div>〇〇はあなたの営業活動の知識の共有や</div>
            <div>相談に対する解決が数字として評価されるサービスです。</div>
        </div>
      <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
           <div align="center">
             <h3>サイトの利用方法</h3>
           </div>
        </div>
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
            <div class="box0">
              <p>
                <div align="center">
                  <div class="lead">共有</div>
                    <div>あなたの営業活動の学びや気づきを簡単に投稿することができます。</div>
                </div>

              </p>
           </div>
        </div>
        <div class="col-lg-6">
          <div class="box0">
            <p>
              <div align="center">
                <div class="lead">相談</div>
                <div>あなたの営業の悩みや相談内容を簡単に投稿することができます</div>
              </div>
            </p>
          </div>
       </div>

        <div class="col-lg-3">
        </div>
     </div>
    </div>
  </body>
</html>

