<div class="container">
  <div class="row">
    <div class="col-lg-3"> 
    </div>
     <div class="col-lg-6"> 
		<div>フォロー 一覧</div>
		<% @users.each do |user| %>
		  <div>名前</div>
      <%= attachment_image_tag user, :image, :fill, 50, 50, format: 'jpeg' , class: "img-circle profile-img", fallback: "/no_image.jpg/",size: '50x50'%>
		  <%= link_to user.nickname, user_path(user.id)%>
		<%end%>
    </div>
    <div class="col-lg-3"> 
    </div>
  </div>
</div>


