<div class="container">
  <div class="row">
    <div class="col-lg-3"> 
    </div>
    <div class="col-lg-6"> 
      <h1>業種一覧</h1>
      <% @industries.each do |industry| %>
        <p>業種</p>
          <span><%=link_to industry.industry_name ,industry_path(industry.id) %></span>

     <% end %>
     <%= paginate @industries %>
    </div>
    <div class="col-lg-3"> 
    </div>
  </div>
</div>



   