


<div class="container">
  <div class="row">
    <div class="col-lg-3"> 
    </div>
    <div class="col-lg-6"> 
      <h1>業種の登録</h1>
        <%= form_for(@industry)do |f| %>
　　   <h4>業種名</h4>
        <%= f.text_field :industry_name %>
        <%= f.submit '投稿' %>
        <% end %>
    </div>
    <div class="col-lg-3"> 
    </div>
  </div>
</div>