<div class="container">
  <div class="row">
    <div class="col-lg-3"> 
    </div>
    <div class="col-lg-6"> 
      <h1>業種詳細</h1>
      <div><%= @industry.industry_name %></div>
		<%=link_to"編集",edit_industry_path(@industry.id) %>
		<%= link_to "削除",industry_path(@industry.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
		<%=link_to"戻る",industries_path %>
    </div>
    <div class="col-lg-3"> 
    </div>
  </div>
</div>



   