
/*.box {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 300px; 追加
}
.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -40%);
}*/

.image {
    border-radius: 50px;

}