
/*.box {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 300px; 追加
}
.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -40%);
}*/

.image {
    border-radius: 50px;
}
.comment-box {
    position: relative;
    margin: 2em 0 2em 40px;
    padding: 8px 15px;
    background: #fff0c6;
    border-radius: 30px;
}
.comment-box:before{font-family: FontAwesome;
    content: "\f111";
    position: absolute;
    font-size: 15px;
    left: -40px;
    bottom: 0;
    color: #fff0c6;
}
.comment-box:after{
    font-family: FontAwesome;
    content: "\f111";
    position: absolute;
    font-size: 23px;
    left: -23px;
    bottom: 0;
    color: #fff0c6;
}
.comment-box p {
    margin: 0; 
    padding: 0;
}

.td01 {
width: 15%;
}
.td02 {
width: 20%;
}
.td03 {
width: 30%;
}
